@import "tailwindcss";


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.dropdown{
position: relative;
}

.dropdown-content{
    position:absolute;
    display: none;
    min-width: 150px;
     
}

.welcome-card{
    background-color: rgb(194, 89, 46);
}

.dropdown:hover .dropdown-content{
  
    display: block;
   
}