@import "tailwindcss";


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.hide{
  display: none;
}

.show{
  display:block
}

#welcome-card{
    background-color: rgb(194, 89, 46);
}


@media screen and (min-width:768px) {
  

  

  #site-page{

    display: grid;
    grid-template-columns: repeat(2,25%,75%);
    gap:5px;
    grid-template-areas: 
    'sidebar main main '
    'sidebar main main '
    'sidebar main main ';
  }

  #desktop-sidebar{
    grid-area:sidebar;
  }

  #main-content{
    grid-area:main
  }

 

}