@import "tailwindcss";


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.hide{
  display: none;
}

.show{
  display:block
}

.welcome-card{
    background-color: rgb(194, 89, 46);
}

